<!--
  Title: not-found.component.html
  Arthur: Victor Soto
  Date: 07/05/2024
  Description: Not found page component
-->

<body>

  <!-- Container Div -->
  <div class="container">

    <!-- This is the title -->
    <p>404</p>

    <!-- This is message -->
    <h1>Li seems we have sliihered somewhere unfamiliar...</h1>
    <br>
    <!-- This is the 404-error image -->
    <div class="center-image">
      <img class="img-fluid" src="./assets/homesnake.png" alt="Snake image *gasp*">
    </div>

    <!-- This is the h2 & h3 text with message "Page not found" -->
    <!-- and option to go back to Home -->
    <div>
      <h2> Back to
        <a routerLink="/home"><button type="button" class="home-btn">Home</button></a>
      </h2>
    </div>
  </div>


</body>