<!--DeVonte' Ellis.....7-11-24.....FAQ Page-->
<body>
  <section>
    <h2 class="title">Frequently Asked Questions</h2>

    <h3>Do you have questions on how to order parts? Or maybe a question about editing your profile. No worries,
      below, you'll find some of the most common questions that we get asked here at Bob's Computer Repair Shop.
      If it's on  your mind, then it may be here. If you are still unable to find the answer you're looking for,
      just Contact Us!</h3>


    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>User Configuration</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>Your user profile will be your source of information relating to your work and time here at
          Bob's Computer Repair Service. Your basic information will be provided here in case you will need to
          be contacted, this also means that your co-workers will be able to view your profile as well.
          There are slight areas that you will be able to modify. These are your user photo, address, phone
          number, and password (if need be).
        </p>
        <img src="../../assets/faq/user-configuration.jpg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>Account Registration</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>When registering an account, you will need to provide an email and password. Upon entering
          and verifying, you will need to submit answers for at least two security questions to help
          ensure the security of your account/profile.
        </p>
        <img src="../../assets/faq/account-registration.jpg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>Reset Password</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>When resetting your password, you will once again be prompted for an email.
          You will need to re-verify your email and re-submit new answers for your security questions.
        </p>
        <img src="../../assets/faq/resetpassword.jpg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>Service Repair Request</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>Our customers are able to request a service repair at any time while we are open. Our options for
          repairs are listed for them to choose from and are priced accordingly. After they have made their
          choices, we move on to the next step of the process, which is the invoice summary.
        </p>
        <img src="../../assets/faq/service-repair.jpeg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>Invoice Summary</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>The invoice summary is the sum total of all of the selected products/services that we offer here at
          Bob's Computer Repair Service. Non-standard charges contain an additional $50 per hour fee on top of the
          included price for parts. After confirming work with assurances that our customer is happy, a receipt is
          to be printed off that they will need to keep up with and return in order to complete their service and
          receive their items.
        </p>
        <img src="../../assets/faq/invoice.jpg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

    <!--Below this line is the beginning of an faq topic-->
    <div class="faq">
      <div class="question">
        <h3>Purchases by Service</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="answer">
        <p>Services are provided to our customers using a list that they are able to choose from. These services can range from
          disk cleanup, ram upgrades, password recovery, and much more. The provided list are our "standard" services.
          These are purchased one by one and are charged accordingly. Additional "non-standard" services not listed on
          the company chart are charged separately with a $50 per hour additional fee.
        </p>
        <img src="../../assets/faq/purchasebyservice.jpg">
      </div>
    </div>
    <!--Above this line is the ending of an faq topic-->

  </section>
</body>