<!--
 Title: pie-graph.component.html
 Author: Victor Soto
 Date: 07/19/2024
 Description: This is the page for the pie-graph component.
      The graph is implemented inside the canvas element.
-->

<div class="container">

  <!-- This is the title of page -->
  <h1>Welcome to the Pie Chart Page!</h1>


  <div class="chart-container">

    <canvas id="myPieChart"></canvas>

  </div>

      <div class="note">
        <p>Note: Data reflected in this chart is typically updated every 24-48 hours.</p>
      </div>

