nav {
  background-color: #9cca9c;
  border-bottom: rgb(0, 0, 0) solid 2px;
}


.logo {
  width: 50%;
}

h2 {
  color: black;
  padding: 40px 0 0 5px;
  font-family:  "Poppins";
  font-size: 50px;
  font-weight: 300;
}

ul {
  padding-top: 10px;
}


li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;

}

li a {
  color: #000;
  margin-right: 25px;
  text-decoration: none;
}

a {
  font-family: "League Spartan";
  font-size: 50px;
  font-weight: 500;
}

img {
  float: left;
  margin-left: 25px;
  margin-right: 10px;
  width: 150px;
}


.nav-half {
  width: 100%;
}