.navbar {
  background-color: #9caba0;
}

.navdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%;
}

h2 {
  color: black;
  padding: 10px 0 0 5px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px rgb(100, 100, 100);
  font-size: 40px;
}

ul {
  padding-top: 10px;
}


li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;

}

li a {
  color: #fff;
  margin-right: 25px;
  text-decoration: none;
}

a {
  font-family: "League Spartan";
}

img {
  float: left;
  padding-right: 10px;
  width: 120px;
}