* {
  background-color: #18251e;
}

#editButton {
  background-color: #fef3cd;
  border-color: #fef3cd;
  color: #18251e;
}

.container {
  background-color: #18251e;
  width: 800px;
}

h2 {
  color: #fef3cd
}

#editButton:hover {
  background-color: #e0ff42;
  border-color: #e0ff42;
  color: black;
}

.user-field{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid #fef3cd;
  outline: none;
  color: white;
}

input:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: white;
}

input::placeholder {
  color: white;
}

.message {
  color: #fef3cd;
}

.profile-picture {
  border-radius: 50%;
max-height: 175px;
}

button {
  background-color: #fef3cd;
  border-color: #fef3cd;
  color: black ;
}

button:hover {
  background-color: #fef3cd;
  border-color: #fef3cd;
  color: black;
}

#cancelButton {
  background-color: #18251e;
  border-color: #18251e;
  color: black;
}

#cancelButton:hover {
  background-color: #18251e;
  border-color: #18251e;
  color: black ;
}

img {
  height: 60px;
  width: 60px;
}

p {
  color: #fef3cd;
}