h1 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 30px;
}

div {
  padding: 5px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  color:#18251e ;
  border-color: #18251e;
}

/* Override theme on hover */
.btn:hover {
  background-color: #18251e;
  color: white;
  border-color: #18251e;
}

.return {
  color:#18251e;
}