footer {
  background-color: #9cca9c;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

a:hover {
  color: white;
}

.faq {
  padding: 60px;
}

.empdir {
  margin-right: 20px;
  padding: 60px;
}
