.main-container {
  width: 100%;
  background-color: #6dc89a;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  padding-top: 50px;
  background-color: rgb(134, 211, 185);
  box-shadow: 5px 10px 15px #4d5853;
  border-radius: 60px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}


.register-container {
 background-color: #87c5a3;
  border-radius: 10px;
  padding-bottom: 40px;
  padding-top: 30px;
  margin-bottom: 20px;
}

input {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  padding-left: 13px;
}

label {
  font-family: "League Spartan", 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-top: 5px;
  padding-bottom: 3px;
}

select {
  width: 200px;
  margin: 0 auto;
}

#submit {
  border: none;
  width: 200px;
  border-radius: 60px;
  background-color: #2dafa4;
  font-size: 20px;
}

#submit:hover {
  color: #fff;
}
