<!--
 Author: Evelyn Zepeda
 Date: 7/13/24
 Title: registration.component.html
 Description: The html page for the registration form.-->

<div class="main-container">
  <div class="form-container">

    <!-- Here begins the registration form -->
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="form-info-container">


       <div class="register-container">


        <!-- The firstName label and input(must be spelled in camel case to match code)--><h1>Register</h1><br>
        <input type="text" id="firstName" formControlName="firstName" placeholder="Name" required><br><br>

        <!-- The lastName label and input(must be spelled in camel case to match code)-->
        <input type="text"  id="lastName" formControlName="lastName" placeholder="Last Name"><br><br>

        <!-- The email label and input-->
        <input type="text"  id="email" formControlName="email" name="email" placeholder="Email" required><br><br>

        <!-- The password label and input-->
        <input type="password" class="password" id="password" formControlName="password" placeholder="Password">
        <br><br>

        <input type="text" class="phoneNumber" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number">
        <br><br>

        <input type="text" class="address" id="address" formControlName="address" placeholder="Address">

        <br>
       </div>


        <div class="questions-container">
          <!-- The first question for the registration process-->
        <label for="q1">Question</label><br>
        <select name="q1" formControlName="question1" id="q1" class="form-select">
          <option *ngFor="let question of qArr1" [value]="question">{{ question }}</option>
        </select><br>

        <!-- Validation errors -->
        <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question1'].invalid && (registerForm.controls['question1'].dirty || registerForm.controls['question1'].touched)">
          <div *ngIf="registerForm.controls['question1'].hasError('required')">
            <!-- The alert displayed-->
             Question is required.
          </div>
        </div>

        <!-- The answer label and input field-->

        <input type="text" id="a1" formControlName="answer1" name="a1" class="form-control" required placeholder="Answer"><br>


      <!-- The second question for the registration process-->
      <label for="q2">Question</label><br>
      <select name="q2" formControlName="question2" id="q2" class="form-select">
        <option *ngFor="let question of qArr2" [value]="question">{{ question }}</option>
      </select><br>

      <!-- Validation errors -->
      <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question2'].invalid && (registerForm.controls['question2'].dirty || registerForm.controls['question2'].touched)">
        <div *ngIf="registerForm.controls['question2'].hasError('required')">
          <!-- The alert displayed-->
           Question is required.
        </div>
      </div>

      <!-- The answer label and input field-->

      <input type="text" id="a2" formControlName="answer2" name="a2" class="form-control" required placeholder="Answer"><br>

      <!-- The third question for the registration process-->
      <label for="q3">Question</label><br>
      <select name="q3" formControlName="question3" id="q3" class="form-select">
        <option *ngFor="let question of qArr3" [value]="question">{{ question }}</option>
      </select><br>

      <!-- Validation errors -->
      <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question3'].invalid && (registerForm.controls['question3'].dirty || registerForm.controls['question3'].touched)">
        <div *ngIf="registerForm.controls['question3'].hasError('required')">
          <!-- The alert displayed-->
           Question is required.
        </div>
      </div>

      <!-- The answer label and input field-->

      <input type="text" id="a3" formControlName="answer3" name="a3" class="form-control" placeholder="Answer" required><br>
        </div>


      <!-- The submit -->
       <input type="submit" id="submit" [disabled]="!registerForm.valid" value="Register Account"><br>
      </div>
    </form>
  </div>
</div>
