<!--
  Title: directory.component.html
  Arthur: Victor Soto
  Date: 07/14/2024
  Description: This page displays the Standard directory of BCRS
-->
<h1>Employee Directory</h1>

<body>

  <div class="table-container">
    <!-- Table for Employee Directory -->
    <table>
      <tr>
        <!-- Table Header -->
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Role</th>
      </tr>

      <!-- Images courtesy of https://www.pexels.com -->
      <!-- Table Data -->
      <tr>
        <td><img src="./assets/bobadmin.jpg" alt="Bob's Picture"></td>
        <td>Bob Bach</td>
        <td>222 Europe Ave.</td>
        <td>444-444-4444</td>
        <td>bach@nodebucket.com</td>
        <td>Admin</td>
      </tr>
      <tr>
        <td><img src="./assets/beethoven.jpg" alt="Beethoven's Picture"></td>
        <td>Beethoven Mozart</td>
        <td>123 Street Ave.</td>
        <td>123-456-7890</td>
        <td>mozart@nodebucket.com</td>
        <td>Standard</td>
      </tr>
      <tr>
        <td><img src="./assets/greg.jpg" alt="Greg's Picture"></td>
        <td>Greg Appleseed</td>
        <td>444 Somewhere Rainbow Rd</td>
        <td>999-999-9999</td>
        <td>appleseed@nodebucket.com</td>
        <td>Standard</td>
      </tr>
      <tr>
        <td><img src="./assets/maria.jpg" alt="Maria's Picture"></td>
        <td>Maria Karen</td>
        <td>555 Brookhurst Rd</td>
        <td>111-111-1111</td>
        <td>karen@nodebucket.com</td>
        <td>Standard</td>
      </tr>
      <tr>
        <td><img src="./assets/amy.jpg" alt="Amy's Picture"></td>
        <td>Amy Zhao</td>
        <td>585 Orange Rd</td>
        <td>132-434-6574</td>
        <td>zhao@nodebucket.com</td>
        <td>Standard</td>
      </tr>
      <tr>
        <td><img src="./assets/neo.jpg" alt="Neo's Picture"></td>
        <td>Neo Van</td>
        <td>345 Light Ave</td>
        <td>154-454-6574</td>
        <td>Van@nodebucket.com</td>
        <td>Standard</td>
      </tr>
    </table>
  </div>
</body>