.margin-top {
  margin-top: 80px;
}
form {
  width: 500px;
  background-color: rgb(134, 211, 185);
  margin: 50px auto;
  padding-top: 10px;
  border-radius: 30px;
}

legend {
  text-align: center;
}

.label-input {
  margin-left: 120px;
  margin-top: 20px;
}

input {
  width: 250px;
}


button {
  border: none;
  padding: 20px;
  width: 200px;
  margin: 20px auto;
  border-radius: 60px;
  background-color: #2dafa4;
  font-family: "Angkor", serif;
  box-shadow: 3px 3px 3px #6d7575;
}

button:hover {
  color: #fff;
}


a {
  color: #000000;
}

a:hover {
  color: #3cad91;
  text-decoration: none;
}