.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
   /* Optional: Adds space between the items */
}

.grid-item {
  background-color: #6dc8c3;
  padding: 20px;
  text-align: center;
}


img {
  width: 80%;
  border-radius: 30px;
  box-shadow: 14px 14px 7px #6d7575;
  margin: 15px;

}

.slogan {
  background-color: #d4dfcb;
  width: 100%;
}

.slogan-container {
  background-color: #d4dfcb;
  border-radius: 30px;
}

h1 {
  padding: 50px;
  font-family: "Angkor";
  font-size: 60px;
  font-weight: 100;
  margin-top: 100px;
}

p {
  line-height: 62px;
  padding: 30px;
  font-size: 40px;
  border-radius: 20px;
}

.p-container{
  background-color: #fff;
  width: 70%;
  text-align: center;
}


button {
  border: none;
  background-color: #46c2b7;
  width: 300px;
  padding: 30px;
  margin: 50px;
  color: white;
  font-size: 30px;
  border-radius: 60px;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two equal columns */
  gap: 5px; /* Optional: Adds space between the items */
}

.service-item {
  background-color: #f0f5f7;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 40px;
  padding: 15px;
  font-weight: 700;
}

.title {
  background-color: #d1f5e9;
  margin-top: 20px;
}