<div class="grid-container">

  <div class="grid-item ">
    <img src="../../assets/bob.jpg">
  </div>

  <div class="grid-item slogan">

    <div class="slogan-container">
      <h1>Where Broken Computer's are Fixed!</h1>

        <p>Choose Bob's Computer Repair Shop for all your technical issues. In business for over 30 years, we guarantee customer satisfaction! Our knowledge of computer's date's back to the 90's so you can trust us to bring you solutions. Whether you spilled coffee on your computer or you need a tune-up we are here to help!
        </p>




        <button routerLink="/security/signin">Sign Up</button>
      </div>
    </div>
  </div>

<div class="services">

  <div class="service-item">
    <img src="../../assets/fixing-ram.jpg">
    <div class="service-titles">
      <div class="title">
        <h3>RAM Upgrade</h3>
      </div>

    </div>
  </div>

  <div class="service-item">
    <img src="../../assets/disk-drive.jpg">
    <div class="service-titles">
      <div class="title">
        <h3>Disk Cleanup</h3>
      </div>

    </div>
  </div>

  <div class="service-item">
    <img src="../../assets/hacker-guy.jpg">
    <div class="service-titles">

      <div class="title">
        <h3>Spyware Removal</h3>
      </div>
    </div>
  </div>

  <div class="service-item">
    <img src="../../assets/security.png">
    <div class="service-titles">
      <div class="title">
        <h3>Password Recovery</h3>
      </div>
    </div>
  </div>
</div>