.background {
  background-color: #f0f0f0;
}

.home-body {
  margin-left: 15%;
  margin-right: 15%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
   /* Optional: Adds space between the items */
}

.grid-item {
  background-color: #6dc8c3;
  text-align: center;
}


img {
  width: 70%;
  border-radius: 30px;
  box-shadow: 14px 14px 7px #6d7575;
  margin: 15px;
}

#bob {
  width: 400px;
  margin-bottom: 30px;
}

.slogan {
  background-color: #d4dfcb;
  width: 100%;
}

.slogan-container {
  background-color: #d4dfcb;
  border-radius: 30px;
}

h1 {
  font-family: "Angkor";
  font-size: 30px;
  font-weight: 100;
  padding-top: 40px;
}

p {
  line-height: 40px;
  font-size: 20px;
  border-radius: 20px;
}

.p-container{
  background-color: #fff;
  width: 70%;
  text-align: center;
}


button {
  border: none;
  padding: 20px;
  width: 150px;
  margin-bottom: 50px;
  border-radius: 60px;
  background-color: #2dafa4;
  font-family: "Angkor";
}

button:hover {
  color: #fff;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two equal columns */
  gap: 5px; /* Optional: Adds space between the items */
}

.service-item {
  background-color: #f0f5f7;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
}

.title {
  background-color: #d1f5e9;
  margin-top: 20px;
}

